.champion-stats-header {
  display: flex;
}

.champion-stats-summoner-profile {
  width: 50%;
}

.champion-stats-summoner-ranked {
  width: 50%;
}

.champion-stats-container {
  display: flex;
  padding: 15px;
}

.champion-stats-left-container {
  width: 50%;
  display: inline-block;
  padding: 20px;
  outline: 1px solid black;
}

.champion-stats-right-container {
  width: 50%;
  display: inline-block;
  padding: 20px;
  outline: 1px solid black;
}

.champion-stats-left-container-top {
  display: flex;
}

.champion-stats-champion-profile {
  width: 30%;
}

.champion-stats-champion-icon {
  width: 80px;
  height: 80px;

  img {
    width: 100%;
    height: 100%;
  }
}

.champion-stats-champion-name {
  display: inline-block;
}

.champion-stats-champion-summoners{
  display: flex;

  div:nth-child(2) {
    margin-left: 5px;
  }
}

.champion-stats-champion-summoners-spell {
  width: 40px;
  height: 40px;

  img {
    width: 100%;
    height: 100%;
  }
}

.champion-stats-champion-perks {
  outline: 1px solid blue;
  margin-top: 5px;
}

.champion-stats-champion-perk-wrapper {
  padding: 5px;
  outline: 1px solid black;
}

.champion-stats-champion-items {
  margin-top: 5px;
  outline: 1px solid black;
}

.champion-stats-champion-items-boots {
  display: flex;
}

.champion-stats-champion-items-core-items {
  display: flex;
}

.champion-stats-recent-matches {
  margin-top: 5px;
}

.champion-stats-match-item-wrapper {
  display: flex;
  outline: 1px solid;
  margin-top: 5px;
}

.champion-stats-match-setting-info {
  display: flex;
}

.champion-stats-match-summoner-spells {
  display: flex;
}

.champion-stats-match-items {
  display: flex;
}

.champion-stats-match-item {
  width: 40px;
  height: 40px;

  img {
    width: 100%;
    height: 100%
  }
}

.compare-graph {
  height: 200px;
  width: 400px;
}

.summoner-icon {
  img {
    width: 100px;
    height: 100px;
  }
}

.summoner-ranked {
  img {
    display: block;
    max-width:120px;
    max-height:120px;
    width: auto;
    height: auto;
  }
}

#top-role-button {
  background-image: url("http://localhost:8000/static/roles/top.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100%;
}

#jungle-role-button {
  background-image: url("http://localhost:8000/static/roles/jungle.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100%;
}

#mid-role-button {
  background-image: url("http://localhost:8000/static/roles/mid.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100%;
}

#bot-role-button {
  background-image: url("http://localhost:8000/static/roles/bot.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100%;
}

.champion-item {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  margin-top: 2px;
  margin-right: 2px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.champion-stats-match-spell {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 2px;
  border-radius: 3px;

  img {
    width: 100%;
    height: 100%;
  }
}

.plswork {
  background-color: #fafafa;
}
