@import '../../common/styles/colors';

.Dashboard{
  padding-top: 20px;

  .dashboard-body {
    margin-top: 10px;
    display: flex;
  }

  .dashboard-body-left-container {
    width: 65%;
    box-sizing: border-box;
    padding-right: 15px;
  }

  .dashboard-body-right-container {
    width: 35%;
    box-sizing: border-box;
    padding-left: 15px;
  }

  .statsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .dashboard-radar{
      display: flex;
      align-items: center;
      margin: 0 10px;

      .dashboard-summoner-radar-stats {
        width: 160px;
        height: 160px;
        padding-left: 10px;
      }
    }
  }



  .victory {
    background-color: @blue-md3;
  }

  .defeat {
    background-color: @red-dk;
  }

  .dashboard-show-more {
    text-align: center;
    background-color: @grey-lt;

    transition: all .2s ease-in-out;

    h2 {
      padding: 10px;
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  .matchlist-container{
    background: #fff;
    border-radius: 5px;
  }

  .-header{
    box-shadow: none !important;
  }
}
