@import '../../common/styles/colors';

.Dashboard{

  .dashboard-header {
    display: flex;
    margin-left: 50px;
    padding: 20px;
  }

  .dashboard-header-profile-icon {
    img {
      width: 120px;
      height: 120px;
    }
  }

  .dashboard-header-summoner-profile {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .dashboard-header-ranked-info {
    display: flex;
    margin-left: 20px;
  }

  .dashboard-header-ranked-tier {
    img {
      width: 120px;
      height: 120px;
    }
  }

  .dashboard-header-ranked-stats {
    margin-left: 10px;
    span {
      display: block;
    }
  }

  .dashboard-header-top-champion-masteries {
    margin-left: 400px;
    display: flex;
  }

  .dashboard-header-champion-mastery-wrapper {
    margin-left: 25px;
    text-align: center;
  }

  .dashboard-header-mastery-icon {
    margin-top: -15px;
  }

  .champion-mastery-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .dashboard-header-mastery-icon {
    img {
      height: 35px;
    }
  }

  .dashboard-body {
    padding: 20px;
    display: flex;
  }

  .dashboard-body-left-container {
    width: 65%;
    padding: 40px;
  }

  .dashboard-body-right-container {
    width: 35%;
  }

  .dashboard-match-heat-map {
    width: 300px;
    height: 300px;
  }

  .dashboard-body-graphs {
    display: flex;
  }

  .dashboard-summoner-radar-stats {
    width: 250px;
    height: 250px;
    margin-left: 20px;
  }

  .dashboard-matches-item {
    margin-top: 5px;
  }

  .victory {
    background-color: @blue-lt;
  }

  .defeat {
    background-color: @red-lt;
  }

  .dashboard-matches-item-header-match-team-objectives {
    display: flex;
  }

  .dashboard-matches-item-header {
    display: flex;
    padding: 5px;
    justify-content: space-between;
  }

  .dashboard-matches-item-body {
    display: flex;
    padding: 5px;
  }

  .dashboard-matches-item-body-champion-settings {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }

  .dashboard-matches-item-body-champion-settings-summoners {
    display: flex;
    margin-left: 5px;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .dashboard-matches-item-body-champion-settings-perks {
    display: flex;
    margin-left: 5px;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .dashboard-matches-item-body-champion-items {
    display: flex;
    flex-direction: column;
    margin-left: 5px;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .dashboard-matches-item-body-champion-items-row {
    display: flex;
  }

  .dashboard-matches-item-body-match-stats {
    display: flex;
    margin-left: 5px;
  }

  .dashboard-matches-item-body-match-stats-kda {
    display: flex;
    flex-direction: column;
  }

  .dashboard-matches-item-body-match-stats-detailed {
    margin-left: 5px;
  }

  .dashboard-matches-item-body-match-participants {
    display: flex;
    margin-left: 5px;
  }

  .dashboard-matches-item-body-match-participant {
    display: flex;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .dashboard-show-more {
    text-align: center;
    margin-top: 5px;
    border: 2px solid;
  }

  .dashboard-champion-table {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    p {
      text-align: center;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }

  .dashboard-filter {
    display: flex;
    padding: 5px;
    outline: 1px solid;
  }

  .queue-selector {
    width: 90px;
    background: @red-dk;

    &:hover{
        background: @red-md;
    }

    .queue-dropdown {
      position: absolute;
    }

    .Dropdown-root {
      color: #fff;
    }

    .Dropdown-menu{
        background: @red-md;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        margin-top: -1px;
        overflow-y: auto;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1000;
        color: #fff;
    }
    .Dropdown-option{
        padding: 3px 0;
        &:hover{
            background: @red-dk;
            color: #fff;
        }
    }
  }

  .champion-selector {
    position: relative;
    margin-left: 20px;
  }

  .champion-selector input {
    border: none;
    color: @grey-dk;
    border-bottom: 2px solid @grey-dk;
    outline: none;
    border-radius: 0;
    line-height: 14px;
  }

  .champion-selector input { text-indent: 25px;}
  .champion-selector .fa-search {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    color: @grey-dk;
    font-size: 0.85em;
  }

  .dashboard-selected-filters {
    display: flex;

    button {
      padding: 3px 5px;
      margin: 2px 3px;
      background: @red-dk;
      color: #fff;
      border-radius: 3px;
    }

    button:focus {
      outline:0;
    }

    h1 {
      font-size: 12px;
      display: inline-block;
      vertical-align: top;
      line-height: 15px;
    }

    .ion-close-round:before {
      content: "\d7";
      font-size: small;
    }
  }



  .dashboard-matches-item-body-match-participants-red {
    margin-left: 5px;
  }

  .react-calendar-heatmap .color-empty {
    fill: #424d73;
  }

  .react-calendar-heatmap .color-scale-loss-1 {
    fill: #ff4c74;
    opacity: 0.2;
  }

  .react-calendar-heatmap .color-scale-tie-1 {
    fill: #eb8638;
    opacity: 0.2;
  }

  .react-calendar-heatmap .color-scale-win-1 {
    fill: #57c681;
    opacity: 0.2;
  }

  .react-calendar-heatmap .color-scale-loss-2 {
    fill: #ff4c74;
    opacity: 0.6;
  }

  .react-calendar-heatmap .color-scale-tie-2 {
    fill: #eb8638;
    opacity: 0.6;
  }

  .react-calendar-heatmap .color-scale-win-2 {
    fill: #57c681;
    opacity: 0.6;
  }

  .react-calendar-heatmap .color-scale-loss-3 {
    fill: #ff4c74;
    opacity: 1.0;
  }

  .react-calendar-heatmap .color-scale-tie-3 {
    fill: #eb8638;
    opacity: 1.0;
  }

  .react-calendar-heatmap .color-scale-win-3 {
    fill: #57c681;
    opacity: 1.0;
  }

  .react-calendar-heatmap text {
    font-size: 10px;
    fill: #aaa;
  }

  .react-calendar-heatmap .react-calendar-heatmap-small-text {
    font-size: 5px;
  }

  .react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
  }
}