@import '../../common/styles/colors';

.Dashboard{
  .dashboard-body {
    
    display: flex;
  }

  .dashboard-body-left-container {
    width: 65%;
    box-sizing: border-box;
    padding-right: 15px;
  }

  .dashboard-body-right-container {
    width: 35%;
    box-sizing: border-box;
    padding-left: 15px;
  }

  .dashboard-match-heat-map {
    width: 300px;
  }

  .dashboard-body-graphs {
    display: flex;
  }

  .dashboard-summoner-radar-stats {
    width: 250px;
    height: 250px;
    margin-left: 20px;
  }

  .victory {
    background-color: @blue-dk;
  }

  .defeat {
    background-color: @red-dk;
  }

  .dashboard-show-more {
    text-align: center;
    margin-top: 5px;

    &:hover{
      background: #fff;
    }
  }

  .matchlist-container{
    background: #fff;
    border-radius: 5px;
  }

  .-header{
    box-shadow: none !important; 
  }
}
