@import '../../common/styles/colors';

.lanestats {
  font-size: 12px;
  font-weight: 700;
  .lanestat {
    display: flex;

    img {
      width: 40px;
      height: 40px;
    }

    .stat {
      margin-top: 15px;
    }

    .win-rate {
      color: @green;
    }

    .percentage-played {
      color: @blue-dk;
    }
  }
}