@import '../../common/styles/colors';

.lanestats {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10px;

  .lanestat {
    display: flex;

    img {
      width: 35px;
      height: 35px;
    }

    .stat {
      margin-top: 15px;
    }

    .win-rate {
      color: @green;
    }

    .percentage-played {
      color: @blue-dk;
    }
  }
}