.react-calendar-heatmap{
  .color-empty {
    fill: #424d73;
  }

  .color-scale-loss-1 {
    fill: #ff4c74;
    opacity: 0.2;
  }

  .color-scale-tie-1 {
    fill: #eb8638;
    opacity: 0.2;
  }

  .color-scale-win-1 {
    fill: #57c681;
    opacity: 0.2;
  }

  .color-scale-loss-2 {
    fill: #ff4c74;
    opacity: 0.6;
  }

  .color-scale-tie-2 {
    fill: #eb8638;
    opacity: 0.6;
  }

  .color-scale-win-2 {
    fill: #57c681;
    opacity: 0.6;
  }

  .color-scale-loss-3 {
    fill: #ff4c74;
    opacity: 1.0;
  }

  .color-scale-tie-3 {
    fill: #eb8638;
    opacity: 1.0;
  }

  .color-scale-win-3 {
    fill: #57c681;
    opacity: 1.0;
  }

  text {
    font-size: 10px;
    fill: #aaa;
  }

  .small-text {
    font-size: 5px;
  }

  rect:hover {
    stroke: #555;
    stroke-width: 1px;
  }
}
