.dashboard-matches{
  font-size: 12px;
  font-weight: 400;

  .item-header-match-team-objectives {
    display: flex;
  }

  .item-header {
    display: flex;
    padding: 5px;
    justify-content: space-between;
  }

  .item-body {
    display: flex;
    align-items: center;
    padding: 5px;

    .champion-info{
      .champion-icon{
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }

    .champion-settings {
      display: flex;
      margin-left: 5px;

      .summoners {
        display: block;
        line-height: 0;
        margin-left: 5px;

        img {
          width: 25px;
          height: 25px;
        }
      }

      .perks {
        display: block;
        line-height:0;
        margin-left: 5px;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }

    .champion-items {
      display: flex;
      margin-left: 5px;

      img {
        width: 25px;
        height: 25px;
      }
    }

    .champion-items-row {
      display: flex;
    }

    .match-stats {
      display: flex;
      margin-left: 5px;

      .match-stats-kda {
        display: flex;
        flex-direction: column;
      }

      .match-stats-detailed {
        margin-left: 5px;
      }
    }

    .match-participants {
      display: flex;
      margin-left: 5px;

      .team{
        .match-participant {
          display: flex;

          .name{
            width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .champion-image{
            line-height: 0;
          }
          img {
            width: 23px;
            height: 23px;
            border-radius: 50%;
          }
        }
      }
    }

    .match-postgame{
      font-size: 30px;
      color: #000;
      .postgame-button{
        flex: 1;
        height:100%;
        width:25px;
        background:#000;

        &:hover{
          background:#fff;
        }
      }
    }
  }
}
