@import '../../common/styles/colors';

.dashboard-filter {
    display: flex;
    margin-bottom: 5px;

    .queue-selector {
      display: flex;
    }

    .champion-selector {
      position: relative;
      margin-left: 20px;
    }

    .champion-selector input {
      border: none;
      color: @grey-dk;
      border-bottom: 2px solid @grey-dk;
      outline: none;
      border-radius: 0;
      line-height: 14px;
    }

    .champion-selector input { text-indent: 25px;}
    .champion-selector .fa-search {
      position: absolute;
      top: 0;
      left: 0;
      padding: 3px;
      color: @grey-dk;
      font-size: 0.85em;
    }

    .dashboard-selected-filters {
      display: flex;

      button {
        padding: 3px 5px;
        margin: 2px 3px;
        background: @red-dk;
        color: #fff;
        border-radius: 3px;
      }

      button:focus {
        outline:0;
      }

      h1 {
        font-size: 12px;
        display: inline-block;
        vertical-align: top;
        line-height: 15px;
      }

      .ion-close-round:before {
        content: "\d7";
        font-size: small;
      }
    }
  }
