.dashboard-matches{
  .item-header-match-team-objectives {
    display: flex;
  }

  .item-header {
    display: flex;
    padding: 5px;
    justify-content: space-between;
  }

  .item-body {
    display: flex;
    padding: 5px;

    .champion-settings {
      display: flex;
      flex-direction: column;
      margin-left: 5px;

      .summoners {
        display: flex;
        margin-left: 5px;

        img {
          width: 25px;
          height: 25px;
        }
      }

      .perks {
        display: flex;
        margin-left: 5px;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }

    .champion-items {
      display: flex;
      flex-direction: column;
      margin-left: 5px;

      img {
        width: 25px;
        height: 25px;
      }
    }

    .champion-items-row {
      display: flex;
    }

    .match-stats {
      display: flex;
      margin-left: 5px;

      .match-stats-kda {
        display: flex;
        flex-direction: column;
      }

      .match-stats-detailed {
        margin-left: 5px;
      }
    }

    .match-participants {
      display: flex;
      margin-left: 5px;

      .match-participant {
        display: flex;

        img {
          width: 25px;
          height: 25px;
        }
      }

      .match-participants-red {
        margin-left: 5px;
      }
    }
  }
}
