@import '../../common/styles/colors';

.userstats {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  width: 160px;
  margin-left: 35px;


  .kp, .obj-dmg, .gold, .vision-score, .cs{
    margin: 1px 0;

  }

  .kp{
    color: @blue-dk;
  }
  .obj-dmg{
    color: @green;
  }
  .gold{
    color: @gold-dk;
  }
  .vision-score{
    color: @pink;
  }
  .cs{
    color: @violet;
  }

  .statValues{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .statLabels{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}