.rc-overview-card {
	border: 1px solid #777;
	min-height: 450px;

	.overview-body {
		box-sizing: border-box;
		padding: 10px;		
	}
	.overview-row {
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
	}

	.overview-heading {
		margin-right: 10px;
		font-weight: 600;
	}

	.overview-icon-div {
		display: inline-flex;
		align-items: center;
		// margin-left: -5px;
	}

	.overview-icon-list {
		display: inline-block;
	}

	.overview-icon-list:not(:first-child) {
		margin-left: 8px;
	}

	.overview-spell {
		display: inline-block;
		width: 24px;
		height: auto;
		box-sizing: border-box;
	}

	.overview-spell:not(:first-child) {
		margin-left: 2px;
	}

	.overview-rune {
		display: inline-block;
		width: 24px;
		height: auto;
		box-sizing: border-box;
	}

	.overview-rune:not(:first-child) {
		margin-left: 2px;
	}

	.overview-keystone-rune {
		width: 30px ~'!important';
	}
}

.overview-card-red {
	background-color: #ffdddd;
}

.overview-card-blue {
	background-color: #99ddff;
}

.overviewsred {
	background-color: #ffbbbb  ~'!important';
	// border: 3px solid #333 ~'!important';
}

.overviewsblue {
	background-color: #77bbff ~'!important';
	// border: 3px solid #333 ~'!important';
}
