@import '../../../common/styles/colors.less';

.rc-overview-card-header {
    height: 60px;
    width: 100%;
    display: flex;
    border-bottom: 2px solid #999;
    border-radius: 5px 5px 0 0;
    align-items: center;
    
    .champion-img-container{
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        .champion-img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
    }

    .o-header-col {
        display: flex;
        height: 60px;
        flex-grow: 1;
        flex-direction: column;
        box-sizing: border-box;
        padding: 5px;

        .h-primary-text {
            font-weight: 600;
        }

        .h-text {
            font-size: 14px;
        }

        .h-s-text {
            font-size: 11px;
        }
    }
}

.hred {
    border-color: @red-dk;
}

.hblue {
    border-color: @blue-dk;
}

.hsred {
    background: #fff;
    border-color: @red-dk;
}

.hsblue {
    background: #fff;   
    border-color: @blue-dk;
}
