@import '../../../common/styles/colors.less';

.rc-overview-card {
	border: 2px solid #777;
	border-radius: 5px;
	margin: 5px;
	background: @grey-lt;

	.overview-body {
		box-sizing: border-box;
		padding: 10px;		
	}
	.overview-row {
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
	}

	.overview-heading {
		margin-right: 10px;
		font-weight: 600;
	}

	.overview-icon-div {
		display: inline-flex;
		align-items: center;
		// margin-left: -5px;
	}

	.overview-icon-list {
		display: inline-block;
	}

	.overview-icon-list:not(:first-child) {
		margin-left: 8px;
	}

	.overview-spell {
		display: inline-block;
		width: 24px;
		height: 24px;
		box-sizing: border-box;
	}

	.overview-spell:not(:first-child) {
		margin-left: 2px;
	}

	.overview-rune {
		display: inline-block;
		width: 24px;
		height: 24px;
		box-sizing: border-box;
	}

	.overview-rune:not(:first-child) {
		margin-left: 2px;
	}

	.overview-keystone-rune {
		width: 30px ~'!important';
		height: 30px ~'!important';
	}


	.oc-loader {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;

		padding: 20px;
		min-height: 266px;
	}
}

.overview-card-red {
	border-color: @red-dk;
}

.overview-card-blue {
	border-color: @blue-md2;
}

.overviewsred {
	border-color: @red-dk;
	background: #fff;
	box-shadow: 0 0 10px fade(@red-dk, 80%);
}

.overviewsblue {
	border-color: @blue-md2;	
	background: #fff;
	box-shadow: 0 0 10px fade(@blue-dk, 80%);
}
