@blue-dk: #01627f;
@red-dk: #ff6666;
@red-dk2: #ff2222;
@red-dk3: #aa0000;
@blue-md: #4C7F98;
@blue-md2: #5577FF;
@blue-md3: #4C7FCC;

@red-md: #FF9793;
@blue-lt: #E8F1F3;
@red-lt: #FFB0AA;
@grey-dk: #555;
@grey-dk2: #333;
@grey-md: #ccc;
@grey: #b8bfc7;
@grey-lt2: #ecf0f1;
@grey-lt: #f6f7f8;
@text-blk: #4d4d4d;
@gold: #FFD700;
@gold-dk: #DAA520;
@violet: #800080;
@orange: #FFA500;
@green: #228B22;
@green-lt: #22BB22;
@pink: #C71585;

.perc-0-20 {
	color: @red-dk2 ~'!important';
}

.perc-20-40 {
	color: @red-dk3 ~'!important';
}

.perc-40-60 {
	color: @grey-dk2 ~'!important';
}

.perc-60-80 {
	color: @blue-dk ~'!important';
}

.perc-80-100 {
	color: @blue-md3 ~'!important';
}
