@blue-dk: #01627f;
@red-dk: #ff6666;
@blue-md: #4C7F98;
@red-md: #FF9793;
@blue-lt: #E8F1F3;
@red-lt: #FFB0AA;
@grey-dk: #383637;
@grey: #b8bfc7;
@grey-lt: #f6f7f8;
@gold: #FFD700;
@violet: #800080;
@orange: #FFA500;
@green: #228B22;