@import '../../common/styles/colors';

.rc-header {
    height: 46px;
    
    border-bottom: 1px solid #aaa;
    display:flex;
    align-items: center;

    .header-inner {
        width: 1300px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .textfield{
            background: #fff !important;
        }
        .searchIcon{
            background: #fff !important;
            border-right: 2px solid @red-dk;
        }
        .logo{
            display: flex;
            align-items: center;
        }
        .header-icon{
            width: 35px;
            height: 35px;
        }

        .header-appname{
            color: @blue-md3;
            font-weight: 700;
            font-size: 18px;
            margin-left: 10px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}