.skillContainer{
}

.skillImage{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
}

.skillCell{
    display:inline-block;
    background: rgba(27, 40, 56, 0.1);
    width: 24px;
    height: 30px;
    border-radius: 3px;
    margin-right: 3px;
    position: relative;
}

.skillUp{
    background: rgba(27, 40, 56, 0.5);
}

.skillTable{
}

.skillRow{
    
    margin-bottom: 7px;
    
}