@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
@import 'colors';

input, select, textarea, button, a{
    font-family:inherit;
    color: @text-blk;
}

text{
    font-family: 'Muli', sans-serif;
}

body{
    color: @text-blk;
    background: #fff;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    margin:0;

    .container{
        margin-top:20px;
        margin-bottom: 20px;
    }
}

.hidden{
    visibility: hidden;
}

.content{
    width: 1100px;
    margin: 0 auto;
}

.clear::after{
    clear: both;
    display: block;
    content: '';
}

.inactive {
  pointer-events: none;
  cursor: default;
}

.blue-dk-txt{
    color: @blue-dk;
}
.red-dk-txt{
    color: @red-dk;
}

.blue-dk-bg{
    background-color: @blue-dk;
    background: @blue-dk;
}
.red-dk-bg{
    background-color: @red-dk;
    background: @red-dk;
}

.blue-md-txt{
    color: @blue-md3;
}
.red-md-txt{
    color: @red-md;
}

.blue-md-bg{
    background-color: @blue-md3;
    background: @blue-md3;
}
.red-md-bg{
    background-color: @red-md;
    background: @red-md;
}

.blue-lt-txt{
    color: @blue-dk;
}
.red-lt-txt{
    color: @red-dk;
}

.blue-lt-bg{
    background-color: @blue-lt;
    background: @blue-lt;
}
.red-lt-bg{
    background-color: @red-lt;
    background: @red-lt;
}

.green-txt{
    color: @green;
}

.gold-dk-txt{
    color: @gold-dk;
}

.violet-txt{
    color: @violet;
}

.icon{
    border-radius: 20%;
}

.separator{
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(@grey-dk), to(@grey-lt));
    margin-top: 15px;
    margin-bottom: 7px;
}


