@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

body{
    background: #f7f7f7;
    font-family: 'Muli', sans-serif;
    margin:0;
}

body > .container{
    margin-top:20px;
    margin-bottom: 20px;
}

.clear::after{
    clear: both;
    display: block;
    content: '';
}

.color100f{
    color: #728DA5;
}

.color200f{
    color: #FFB0AA;
}

.color100{
    background-color: #728DA5;
    background: #728DA5;
}

.color200{
    background-color: #FFB0AA;
    background: #FFB0AA;
}


.icon{
    border-radius: 20%;
}

.itemIcon{
    width: 40px;
    height: 40px;
    margin-top: 0px;
    display: block;
    float:left;

    .small{
        margin: 1px 1px;
        height: 23px;
        width: 23px;
    }
}