@import './colors';

.user-champion-list {
  font-size: 12px;
  height: 550px;
  font-weight: 700;

  .-headerGroups{
    visibility: hidden;
    height: 0;
  }

  .ReactTable{
    border-radius: 5px;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  p {
    text-align: center;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .-odd{
    background: @grey-lt !important;
  }

  .-even{

  }
}