@import '../../common/styles/colors';

.profileContainer{
    display: flex;

    .role-container{
        

        .champion-roles{
            display:flex;
            border: 1px solid #ccc;
            border-radius: 3px;

            .selected{
                background: @grey-lt;
            }
        }



        .role-button{
            background: #fff;

            &:hover{
                background: @grey-lt;
                cursor: pointer;
            }

            .roleIcon{
                width: 70px;
                height: 70px;
            }

            .winloss{
                font-size: 14px;
            }

            .totalgames{
                font-size: 14px;
            }
        }
    }

    

    .championIcon{
        width: 120px;
        height: 120px;
        border-radius: 5px;
    }

    .champion-stats-champion-icon {
      display: inline;
    }

    .championDescriptor{
        width: 150px;

        .champion-name {
          font-size: 30px;
          font-weight: 700;
          display:block;
        }

        .champion-title{

        }
    }

    .statOverview{
        width: 150px;
    }

    .champion-stats-champion-summoners{
      display: flex;
    }

    
}