.champion-stats-header {
  display: flex;
}

.champion-stats-container {
  display: flex;
  padding: 15px;
}

.left-container, .right-container {
  width: 50%;
  display: inline-block;
  padding: 20px;
}

.champion-stats-left-container-top {
  display: flex;
}

.champion-stats-champion-perks {
  outline: 1px solid blue;
  margin-top: 5px;
}

.champion-stats-champion-perk-wrapper {
  padding: 5px;
  outline: 1px solid black;
}

.champion-stats-champion-items {
  margin-top: 5px;
  outline: 1px solid black;
}

.champion-stats-champion-items-boots {
  display: flex;
}

.champion-stats-champion-items-core-items {
  display: flex;
}

.compare-graph {
  height: 200px;
  width: 400px;
}
