.profileContainer{
    .championIcon{
        width: 120px;
        height: 120px;
        border-radius: 5px;
    }

    .champion-stats-champion-icon {
      display: inline;
    }

    .champion-stats-champion-name {
      display: inline-block;

      font-size: 30px;
      font-weight: 700;
    }

    .champion-stats-champion-summoners{
      display: flex;
    }
}