@import '../../common/styles/colors';

.champion-stats-recent-matches {}

.RecentMatch {
    font-size: 12px;
    font-weight: 700;
    height: 120px;
    margin-bottom: 5px;
    background: @grey-lt;
    border-radius: 5px;

    .icon {
        margin: 1px;
        height: 23px;
        width: 23px;
    }

    .result-indicator {
        float: left;
        width: 10px;
        height: 100%;
    }

    .filler{
        background: rgba(0,0,0,0.2);
        height: 23px;
        width: 23px;
    }

    .victory {
        background-color: @blue-dk;
    }

    .defeat {
        background-color: @red-dk;
    }

    .item-header {
        height: 25px;
        border-top: 1px solid @grey;
        border-right: 1px solid @grey;
        border-bottom: 1px solid @grey;
        border-radius: 0 3px 3px 0;

        display: flex;
        padding: 0 5px;
        justify-content: space-between;
        align-items: center;

        .match-info {
            display: flex;
            width: 200px;

            .queue,
            .timestamp,
            .duration {
                flex-grow: 1;
            }
        }

        .team-objectives {
            display: flex;
        }

        .match-postgame {
            a {
                text-decoration: none !important;
                display: flex;
                align-items: center;

                .fa-angle-right {
                    font-size: 20px;
                    margin-left: 5px;
                    &:before {}
                    &:hover {}
                }
            }
        }
    }

    .summonerInfo {
        height: 95px;
        display: flex;
        align-items: center;
        padding: 0 5px;

        .runeSummIcons {
            padding-left: 15px;
            line-height: 0;
            width: 10%;

            .runeIcon {}

            .summonerSpells {
                .summonerIcon {}
            }
        }

        .iconContainer {
            position: relative;

            .championIcon {
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }

            .level {
                padding-right: 1px;
                width: 16px;
                height: 16px;
                border-radius: 30%;
                border: 1px solid;
                background: @blue-dk;
                color: #fff;
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 12px;
                text-align: center;
            }
        }

        .name {
            margin-left: 25px;
        }
        .stats {
            width: 150px;
            margin: 0 10px;
            display: flex;


            .stat {
                padding: 0 15px;
                text-align: center;
            }
            .cs {
                width: 15%;
            }
            .score {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 40%
            }
        }

        .itemSet {
            display: flex;
            margin-left: 10px;
            .itemIcon {}
        }
    }
}