@import '../../common/styles/colors';

.champion-stats-champion-summoners{
    display:flex;

    .set-wrapper {
        display: flex;
        flex-direction: column;
        margin-right: 10px;

        .summonerSet{
            display: flex;
            flex-direction: row;

            .summoner{
                margin-right: 5px;
                .summonerIcon{
                    width: 40px;
                    height: 40px;
                }
            }

            .summoner:not(:first-child) {
                padding-left: 0px ~'!important';
            }

            
        }
        .ss-pcnt {
            // height: 12px;
            // background-color: #444;
            text-align: center;
            font-weight: 600;
        }
    }

    .set-wrapper:not(:first-child) {
        margin-left: 10px ~'!important';
    }
}
