.selectorContainer{
    display: inline-block;
}

.selectionParticipant{
    display: inline-block;

    .championIcon{
        border-radius: 50%;
        width: 75px;
        height: 75px;
    }
}

.selectorTeam{
    display: block;
}