.selectorContainer{
    display: flex;
}

.selectionParticipant{
    display: inline-block;

    .championIcon{
        border-radius: 50%;
        width: 75px;
        height: 75px;
    }

    .selected{
        border: 3px solid #ff0000;
    }
}

.selectorTeam{
    flex-grow: 1;
    text-align: center;
}