@import '../../common/styles/colors';

.eventContainer{
    position:absolute;
    height: 28px;
}

.eventTimeline {
    margin: auto;
    margin-top: 25px;
    width: 1100px;
}

.eventRow{
    height: 21px;
    display: block;
    position: relative;
}

.event{
    margin: auto;
    text-align: center;
}


.sliderContainer{
    width:900px;
    margin-left: auto;
    margin-right: auto;
}

.controlHeader{
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    width:100%;
    background: @grey-lt;
}

.gameSlider {
    margin: 15px auto;
    width: 1100px;

    .rc-slider-track{
        background: @blue-md3;
        height: 8px;
    }

    .rc-slider-rail{
        height: 8px;
    }

    .rc-slider-step{
        height: 8px;
    }

    .rc-slider-dot{
        bottom: 0;
        border-color: #fff;
        background: #fff;
        height: 10px;
        width: 2px;
        border-radius: 0;
    }

    .rc-slider-handle{
        width: 30px;
        height: 30px;
        //border-color: @grey;
        border-width: 0;
        background-image: url("/api/static/poro.png");
        background-size: 30px 30px;
        margin-left: -15px;
        margin-top: -10px;

        &:hover{
            box-shadow: 0 0 5px #57c5f7;
        }

    }
}
