@import '../../common/styles/colors';

.itemProgressContainer{
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;

    .itemContainer{
        display: inline-block;
        margin-right: 3px;
        height: 100%;
    }

    .item-inner {
        position: relative;
        display: inline-flex;
        height: 100%;
        width: 100%;
    }

    .sell-dash {
        position: absolute;
        z-index: 2;
        color: @red-dk2;
        left: 4px;
        top: 3px;
        transform: scale(1.5, 1.5);
        background: rgba(0,0,0,0.5);
        width: 10px;
        height: 11px;
        border-radius: 3px;


    }

    .item{
        width: 30px;
        height: 30px;
        position: absolute;
    }

    .sold{
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%); 

        opacity: 0.7;
    }

    .itemTs{
        display:block;
    }

    .item-group-separator {
        margin-left: 5px;
        margin-right: 10px;
    }

    .item-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
    }

    .ts-hidden {
        visibility: hidden;
    }
}

