@import '../../common/styles/colors';

.graphsmap{
    display:flex;
    align-items: center;
    flex-basis: 33%;
}

.compare {
    border-radius: 5px;
    border: 1px solid @grey;
    margin-bottom: 15px;
}