@import '../../../common/styles/colors.less';

.rc-compare-card-bottom {
	display: flex;
	flex-direction: column;

	background-color: #fafafa;
	width: 50%;
	max-width: 240px;
	// height: 300px;

	box-sizing: border-box;
	padding: 10px;

	h3 {
		margin: 5px 0;
	}
	.compare-items {
		text-align: left;
		width: 100%;
	}
	.compare-items:not(:first-child) {
		margin-top: 5px;
	}
	.compare-items-right {
		text-align: right  ~'!important';
	}

	.item-container {
		display: flex;
		flex-direction: column;
		margin-left: 3px;
		margin-right: 3px;
	}

	.compare-item {
		height: 34px;
		width: 34px;
	}

	.compare-item-empty {
		height: 46px;
		width: 34px;
	}

	.compare-item-cnt {
		height: 12px;
		// background-color: #444;
		// color: #fafafa;
		text-align: center;
		font-weight: 600;
	}

	.ccb-row {
		display: flex;
		flex-direction: row;
	}

	.ccb-row-right {
		flex-direction: row-reverse ~'!important';
	}
}

.rc-compare-card-bottom-blue {
	align-items: flex-end;
}
