.rc-compare-card-middle {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;

	background-color: #fafafa;

	.compare-graph {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}

	// .graph-wrapper {
	// 	height: 200px;
	// 	width: 400px;
	// }
}
