@import '../../../common/styles/colors.less';

.rc-compare-card-header {
	display: inline-flex;
	background-color: #fafafa;
	width: 50%;
	height: 115px;

	border-bottom: 1px solid #999;
	
    .champion-img-container{
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

        flex-grow: 0;

        .champion-img {
            width: 80px;
            height: 80px;
            border-radius: 50%;

            position: absolute;
        }
        
        .tier-img {
            width: 60px;
            height: auto;
            position: absolute;
            top: 48px;
        }

		margin: 8px;
    }

	.c-header-col {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;

		.h-primary-text {
			font-weight: 600;
			font-size: 14pt;
		}

		.h-text {
			font-size: 12pt;
		}
	}
	.c-header-col-blue {
		text-align: right ~'!important';
	}

	.cch-wr-wrapper {
		flex-grow: 0;
		display: flex;
		justify-content: flex-end;

		max-width: 120px;
		box-sizing: border-box;
		padding: 10px;
	}
	.cch-wr-wrapper-blue {
		justify-content: flex-start ~'!important';
	}

	.cch-wr {
		display: inline-flex;
		flex-direction: column;

		box-sizing: border-box;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 5px;

		text-align: center;

		.cch-wr-head {
			
			
		}

		.cch-wr-subhead {
			
		}

		.cch-wr-rate {
			font-size: 50px;
			font-weight: 600;
		}
	}
}

.rc-compare-card-header-right {
	flex-direction: row-reverse ~'!important';
}
