@import '../../../common/styles/colors.less';

.rc-compare-card-header {
	display: inline-flex;
	background-color: #fafafa;
	width: 50%;
	height: 115px;

	border-bottom: 1px solid #999;
	
    .champion-img-container{
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;

        flex-grow: 0;

        .champion-img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
        }

		margin: 8px;
    }

	.c-header-col {
		flex-grow: 0;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;

		.h-primary-text {
			font-weight: 600;
			font-size: 14pt;
		}

		.h-text {
			font-size: 12pt;
		}

		.cph-tier {
			display: flex;
			height: 20px;
			align-items: center;
			justify-content: flex-start;
			flex-direction: row-reverse;

			.tier-img {
	            width: 30px;
	            margin: 0px 5px;
	        }
		}

		.cph-tier-blue {
			justify-content: flex-end ~'!important';
			flex-direction: row ~'!important';
		}
	}
	.c-header-col-blue {
		text-align: right ~'!important';
	}

	.cch-wr-wrapper {
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;

		// max-width: 120px;
		box-sizing: border-box;
		padding: 10px;
		padding-top: 5px;
	}
	.cch-wr-wrapper-blue {
		justify-content: flex-start ~'!important';
	}

	.cch-wr {
		display: inline-flex;
		flex-direction: column;

		box-sizing: border-box;

		text-align: center;

		.cch-wr-head {
			font-size: 10pt;
		}

		.cch-progress-bar {
			width: 120px;
			margin-top: 5px;

			.CircularProgressbar-path {
				stroke: @red-dk;
				stroke-linecap: butt;
			}

			.CircularProgressbar-text {
				fill: @grey-dk;
				font-size: 24px;
			}
		}

		.cch-progress-bar-blue {
			.CircularProgressbar-path {
				stroke: @blue-md3 ~'!important';
			}

			.CircularProgressbar-text {
			}
		}

		.cch-progress-bar-empty {
			.CircularProgressbar-path {
				stroke: #d6d6d6 ~'!important';
			}

			.CircularProgressbar-text {
			}	
		}
	}
}

.rc-compare-card-header-right {
	flex-direction: row-reverse ~'!important';
}
