@import '../../../common/styles/colors.less';

.rc-current-match-compare {
	display: flex;
	flex-direction: column;
	border: 1px solid @grey;
	border-radius: 5px;
	margin: 5px;
	margin-top: 25px;

	.compare-row {
		width: 100%;

		display: inline-flex;
		flex-direction: row;
	}
}
