.game-content {
  display: table;
  width: 689px;
  border: 1px solid #cdd2d2;
}

.game-stats {
  display: table-cell;
  height: 120px;
  vertical-align: middle;
  font-size: 11px;
}

.game-type {
  font-weight: bold;
  width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bar {
  display: block;
  width: 27px;
  margin: 5px auto;
  height: 2px;
  background: #cea7a7;
}

.game-setting-info {
  width: 100px;
  font-size: 0;
  display: table-cell;
  height: 120px;
  vertical-align: middle;
}

.champion-image {
  display: inline-block;
  width: 46px;
  height: 46px;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
}

.Image {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

.summoner-spell {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

.spell {
  display: block;
  width: 22px;
  height: 22px;
  margin-top: 2px;
  border-radius: 3px;
  overflow: hidden;
}

.runes {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

.rune {
  width: 22px;
  height: 22px;
  margin-top: 2px;
}

.rune > img {
  background-color: transparent;
}

.champion-name {
  margin-top: 8px;
  font-size: 11px;
  color: #555;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kda {
  width: 87px;
  font-size: 11px;
  text-align: center;
  display: table-cell;
  height: 96px;
  vertical-align: middle;
}

.kda-info {
  color: #879292;
  font-size: 15px;
  white-space: nowrap;
}

.kda-ratio {
  color: #555e5e;
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
}

.multi-kill {
  margin-top: 8px;
  font-size: 10px;
}

.stats {
  width: 86px;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
  color: #555e5e;
  display: table-cell;
  height: 96px;
  vertical-align: middle;
}

.items {
  width: 102px;
  font-size: 0;
  min-width: 102px;
  display: table-cell;
  height: 96px;
  vertical-align: middle;
}

.item {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  margin-top: 2px;
  margin-right: 2px;
  overflow: hidden;
}

.trinkets {
  width: 32px;
  font-size: 0;
  display: table-cell;
  height: 96px;
  vertical-align: middle;
}

.fellow-players {
  width: 180px;
  font-size: 0;
  display: table-cell;
  height: 96px;
  vertical-align: middle;
}

.team {
  float: left;
  width: 50%;
}

.participant {
  display: block;
  width: 80px;
  height: 22px;
  margin-left: 3px;
  text-align: left;
  white-space: nowrap;
}

.participant-champion-image {
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-right: 2px;
}

.participant-name {
  display: inline-block;
  max-width: 60px;
  vertical-align: middle;
  font-size: 11px;
  color: #555;
  overflow: hidden;
}



/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

.react-calendar-heatmap .color-scale-1 {
    fill: #d6e685;
}
.react-calendar-heatmap .color-scale-2 {
    fill: #8cc665;
}
.react-calendar-heatmap .color-scale-3 {
    fill: #44a340;
}
.react-calendar-heatmap .color-scale-4 {
    fill: #1e6823;
}