
.rc-rune-tooltip {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  margin-left: -15px;
  margin-right: -15px;

  .tt-rune-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .tt-rune-img {
      width: 30px;
      height: 30px;
    }

    .tt-rune-name {
      margin-left: 10px;
    }
  }

  .tt-rune-desc {
    margin-top: 10px;
    // height: auto;
    min-height: 40px;
  }
}
